global
    log stdout format raw local0
    daemon

defaults
    log global
    mode http
    option httplog        # Log HTTP requests
    timeout connect 5s    # Time to establish connection to backend
    timeout client 50s    # Max time for client inactivity
    timeout server 50s    # Max time for server inactivity

frontend http_front
    bind *:80
    option forwardfor except 127.0.0.1
    default_backend api_backends
    http-request set-src hdr_ip(X-Real-Ip)

backend api_backends
    balance roundrobin
    mode http
     
    server api1 nginx_api:5000 check